body {
  font-family: Verdana, serif;
  background-color: #d4e6f1;
  text-align: center
}

h1 {
  color: #b03a2e
}

h3 {
  font-style: italic;
}

.recipe {
  font-size: 20px;
  color: #ec7063;
}

ul  {
  padding-left: 0;
}
ul li {
   list-style-position: inside;
}
ol  {
  padding-left: 0;
}
ol li {
   list-style-position: inside;
